body {
    padding: 0;
    margin: 0;
}

div {
    height: 120px;
    width: 90%;
}

button.ganggang {
    colour: pink;
}

#gangshit {
    z-index: 3;
}

nav a {
    display: block;
}

div.main {
    width: 100%;
}

a {
    display: block;
}

footer {
    background-color: green;
}
